table {
    border: 2px solid #c9cdff;
}

th, td {
    border: 2px solid #c9cdff;
    font-family: inter;
    text-align: center;
    padding: 10px;
}

td > a {
    text-decoration: none;
    color: black;
    transition: .3s;
}

td > a:hover {
    transition: .3s;
    color: #aeb0ca;
}

.kanji-table {
    font-size: 32px;
}

