@import url(/css/core.css);
@import url(/css/add.css);
@import url(/css/quick-kanji.css);
@import url(/css/modes.css);
@import url(/css/edit.css);
@import url(/css/delete.css);
@import url(/css/main.css);


@font-face {
    font-family: Noto;
    src: url(/font/NotoSansJP-Bold.otf);
}

@font-face {
    font-family: inter;
    src: url(/font/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: bublik;
    src: url(/font/RubikWetPaint-Regular.ttf);
}

@font-face {
    font-family: mont;
    src: url(/font/Montserrat-VariableFont_wght.ttf);
}

@media (max-width:619px) {
    .modes-list {
        padding-top: 750px;
    }

    .words {
        margin-bottom: 50px;
    }
}